openapi: 3.2.0
info:
  version: '1.0'
  title: Properties Search API
  description: 'Properties API


    - **Properties/Summary: **GET** /api/v2/properties/{propertyId}/summary**

    Retrieves basic property and listing information about a property, including a single photo and current market status


    - **Properties/Attributes: **GET** /api/v2/properties/{propertyId}/attributes**

    Retrieves comprehensive and up to date property attributes and features for a given property


    - **Properties/Listings: **GET** /api/v2/properties/{propertyId}/listings**

    Retrieves current and historic listings…'
  contact:
    email: support@proptrack.com
    name: PropTrack Support
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Search
  description: Property Search
paths:
  /api/v2/properties/summaries/search:
    parameters: []
    get:
      summary: /api/v2/properties/summaries/search
      tags:
      - Search
      parameters:
      - schema:
          type: string
          example: Bearer xxxxx
        in: header
        name: Authorization
        description: Provide your bearer token as a string, in the format Bearer {access_token} in the Authorization Header Refer to Authentication
        required: true
      - name: bedroomsMin
        in: query
        description: Minimum number of bedrooms
        schema:
          type: integer
          examples:
          - 3
      - name: bedroomsMax
        in: query
        description: Maximum number of bedrooms
        schema:
          type: integer
          examples:
          - 4
      - name: bathroomsMin
        in: query
        description: Minimum number of bathrooms
        schema:
          type: integer
          examples:
          - 1
      - name: bathroomsMax
        in: query
        description: Maximum number of bathrooms
        schema:
          type: integer
          examples:
          - 3
      - name: carSpacesMin
        in: query
        description: Minimum number of car spaces
        schema:
          type: integer
          examples:
          - 1
      - name: carSpacesMax
        in: query
        description: Maximum number of car spaces
        schema:
          type: integer
          examples:
          - 2
      - name: landAreaMin
        in: query
        description: Minimum size of land space area (measured in m2)
        schema:
          type: integer
          examples:
          - 550
      - name: landAreaMax
        in: query
        description: Maximum size of land space area (measured in m2)
        schema:
          type: integer
          examples:
          - 650
      - schema:
          type: integer
        in: query
        name: livingAreaMin
        description: Minimum size of living area (measured in m2)
        example: 300
      - schema:
          type: integer
        in: query
        name: livingAreaMax
        description: Maximum size of living area (measured in m2)
        example: 850
      - name: propertyType
        in: query
        description: Classification of the type of property
        schema:
          type: string
          enum:
          - house
          - unit
          example: house
      - name: afterPageCursor
        in: query
        description: 'The page starting position as one transaction after the defined cursor</br>Note: Cannot be used in conjunction with `beforePageCursor`</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)'
        schema:
          type: string
          example: Wzc3Ni4yMTQ2NjY0NTE4Mzk5LDM0Nzg0MDFd
      - name: beforePageCursor
        in: query
        description: 'The page starting position as one transaction prior to the defined cursor</br>Note: Cannot be used in conjunction with `afterPageCursor`</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)'
        schema:
          type: string
          example: WzU0LjgwNTYxNjE0MzQ5MTM4LDE0MDY5NjMzXQ==
      - name: pageSize
        in: query
        description: The maximum number of transaction results that will be returned for each page</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)
        schema:
          type: integer
          maximum: 25
          default: 25
          examples:
          - 20
          example: 20
      - schema:
          type: string
          example: -37.822170,144.945660,-37.807524,144.971410
        in: query
        name: boundingBox
        description: 'Bounding box for map-based filtering. Must provide exactly 4 numbers.<br>Provided as comma separated values in the format `minLat`,`minLong`,`maxLat`,`maxLong`<br>Note: If `suburb`, `postcode` and `state` are not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
        in: query
        name: suburb
        description: 'Name of the suburb being searched<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
        in: query
        name: postcode
        description: 'Postcode of the suburb being searched<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
          enum:
          - act
          - nsw
          - nt
          - qld
          - sa
          - tas
          - vic
          - wa
          examples:
          - vic
        in: query
        name: state
        description: 'State or territory within Australia<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  numberOfResults:
                    type: integer
                    description: Total number of transactions that match the search criteria<br>A maximum of 10,000 results will be returned for a query.
                    examples:
                    - 552
                    maximum: 10000
                  pageInfo:
                    type: object
                    description: Page information for the purpose of pagination</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)
                    properties:
                      pageStartCursor:
                        type:
                        - string
                        - 'null'
                        description: Unique cursor identifier for the first transaction on the page
                        examples:
                        - WzAuNTMxNTMzNzg3ODA4MDI2OCw3MTk5NDVd
                      pageEndCursor:
                        type:
                        - string
                        - 'null'
                        description: Unique cursor identifier for the last transaction on the page
                        examples:
                        - LzRuPDMxNTMzNzg3OYF4MDI2OCw3MTk5NRAm
                      hasPreviousPage:
                        type: boolean
                        description: Defines if a preceding page of transactions exists
                      hasNextPage:
                        type: boolean
                        description: Defines if a proceeding page of transactions exists
                  propertySummaries:
                    type: array
                    items:
                      type: object
                      x-stoplight:
                        id: p36wtjcypqhf4
                      properties:
                        propertyId:
                          type: integer
                          x-stoplight:
                            id: q7xkn5piafan2
                          example: 8282053
                        address:
                          type:
                          - object
                          - 'null'
                          description: Property Address
                          properties:
                            fullAddress:
                              type: string
                              x-stoplight:
                                id: 5zcjnr5bylbwx
                              example: 12 Bowman Cl, Araluen, NT 0870
                            unitNumber:
                              type:
                              - string
                              - 'null'
                              x-stoplight:
                                id: 9con9e51ism0o
                            streetNumber:
                              type: string
                              x-stoplight:
                                id: clbko5io646v2
                              example: '12'
                            streetName:
                              type: string
                              x-stoplight:
                                id: bw4tvscj30lip
                              example: BOWMAN
                            streetType:
                              type: string
                              x-stoplight:
                                id: 5hlu0340u8gpp
                              example: CL
                            suburb:
                              type: string
                              x-stoplight:
                                id: y963qnnh405jj
                              example: ARALUEN
                            postcode:
                              type: string
                              x-stoplight:
                                id: uq3cgq7x70fo4
                              example: 0870
                            state:
                              type: string
                              x-stoplight:
                                id: flar8wdlxumz6
                              example: NT
                            location:
                              type: object
                              x-stoplight:
                                id: 132d2f6rincwh
                              properties:
                                latitude:
                                  type:
                                  - number
                                  - 'null'
                                  x-stoplight:
                                    id: f8wfuuk7n91yk
                                  example: 133.85501
                                  format: float
                                longitude:
                                  type:
                                  - number
                                  - 'null'
                                  x-stoplight:
                                    id: zaalil8hrli8m
                                  example: -23.705948
                                  format: float
                        parcels:
                          type: array
                          x-stoplight:
                            id: 24rsyk8dpera2
                          items:
                            x-stoplight:
                              id: 63vj2frykduvj
                            type: object
                            properties:
                              planNumber:
                                type:
                                - string
                                - 'null'
                                x-stoplight:
                                  id: 6e2ymedhn84zu
                                example: '786836'
                              lotNumber:
                                type:
                                - string
                                - 'null'
                                x-stoplight:
                                  id: tq7r5qvr3a6e7
                                example: '124'
                        attributes:
                          x-stoplight:
                            id: vjprtbbmqi2np
                          type:
                          - object
                          - 'null'
                          description: Basic property attributes
                          properties:
                            bedrooms:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: a9zi5xc7xzkq4
                              properties:
                                value:
                                  type: integer
                                  x-stoplight:
                                    id: 7j4k9ktnp6k1p
                                  example: 3
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: muwf0padjmu3h
                                  example: '2022-12-10'
                            bathrooms:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: xevadvjoh94ay
                              properties:
                                value:
                                  type: integer
                                  x-stoplight:
                                    id: swxxo7b3t5mb5
                                  example: 2
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: 1ugflicke9iyp
                                  example: '2022-12-10'
                            carSpaces:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: xsjmdm722qhd5
                              properties:
                                value:
                                  type: integer
                                  x-stoplight:
                                    id: 3li5c1kkva2wp
                                  example: 1
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: wembyvpemf5o7
                                  example: '2022-12-10'
                            livingArea:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: 15pp9fi95kye2
                              properties:
                                value:
                                  type: integer
                                  x-stoplight:
                                    id: ocuiz9j6z7027
                                  example: 212
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: q3y3d06efheqo
                                  example: '2022-12-10'
                            landArea:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: gthtn8avs8wa3
                              properties:
                                value:
                                  type: integer
                                  x-stoplight:
                                    id: m30y4qhfnj76b
                                  example: 851
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: xqqywt8o9wvwv
                                  example: '2022-12-10'
                            propertyType:
                              type:
                              - object
                              - 'null'
                              x-stoplight:
                                id: z0t66hhmpp8wz
                              properties:
                                value:
                                  x-stoplight:
                                    id: grgym9ry9c8r6
                                  example: house
                                  enum:
                                  - house
                                  - unit
                                sourceDate:
                                  type: string
                                  x-stoplight:
                                    id: z8gu3rlabpvwj
                                  example: '2022-12-10'
                        recentSale:
                          x-stoplight:
                            id: bzgjd39mjrswl
                          type:
                          - object
                          - 'null'
                          description: Provides recent (within the past 6 months) sale information for a given `propertyId`<br>If no sale has occurred in the past 6 months, this will return null
                          required:
                          - transactionDate
                          properties:
                            transactionDate:
                              type: string
                              x-stoplight:
                                id: nx1tp23jizhhl
                              example: '2023-01-25'
                              description: 'Date associated with the transaction event<br>

                                Format `YYYY-MM-DD`'
                            sourceCategory:
                              x-stoplight:
                                id: h9kp1j8pjeow5
                              enum:
                              - vg
                              - agency
                              - other
                              example: agency
                              description: Source of transaction event data
                            saleValue:
                              type:
                              - integer
                              - 'null'
                              x-stoplight:
                                id: u84r5p1m5l7ce
                              example: 1350000
                              description: 'Price associated with the transaction event <br>

                                Note: suppressed transaction prices will be returned as undefined'
                            saleValueSuppressed:
                              type: boolean
                              x-stoplight:
                                id: lbyc1qn1xqquq
                            listingId:
                              type:
                              - string
                              - 'null'
                              x-stoplight:
                                id: b7ph3gbozq8ui
                              description: Unique identifier for a listing
                              example: '7654321'
                        image:
                          x-stoplight:
                            id: r13ft7o6ua5w1
                          type:
                          - object
                          - 'null'
                          description: Provides a single property image for use in property summary experiences.<br>Refer to [Constructing an Image URL](https://developer.proptrack.com.au/docs/apis/faqs#how-do-i-construct-an-image-url) for details on how to use this image object.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              x-stoplight:
                                id: m42v0vlg3d598
                              example: d300f1a395373a8622bb0fa1b2ec53d42951d5d363defc75d18a479b06d800c4.jpg
                            extension:
                              x-stoplight:
                                id: nh7hr644wuhdy
                              enum:
                              - jpg
                              - gif
                              - png
                              - pcx
                              - svg
                              - webp
                              - ppm
                              - tiff
                              - nb
                              example: jpg
                            type:
                              x-stoplight:
                                id: fzuov6qm2la6r
                              enum:
                              - image
                              - floorplan
                              example: image
                            sha:
                              type:
                              - string
                              - 'null'
                              x-stoplight:
                                id: ijzdeupkgpgb6
                              example: d300f1a395373a8622bb0fa1b2ec53d42951d5d363defc75d18a479b06d800c4
                        activeListings:
                          type: array
                          x-stoplight:
                            id: iy5usz8oixn50
                          description: 'Provides an array of active rent or sale listings<br>

                            If the property has no active listings an empty array is returned'
                          items:
                            x-stoplight:
                              id: g4y5gi13rs9ug
                            type: object
                            properties:
                              listingId:
                                type: string
                                x-stoplight:
                                  id: z06m8u4iy713w
                                description: Unique identifier for a listing
                                example: '7654321'
                              priceDescription:
                                type: string
                                x-stoplight:
                                  id: vsrr1i7q7tcux
                                description: 'Price displayed on the listing<br>

                                  Note: This value may not always describe the price, but a description such as "Price on request"'
                              listingType:
                                x-stoplight:
                                  id: zxq2nm9ehbw57
                                enum:
                                - sale
                                - rent
                                example: sale
                                description: Refer to [Listing Types](https://developer.proptrack.com.au/docs/apis/guide#listing-type)
                        marketStatus:
                          x-stoplight:
                            id: koi63swv45oo7
                          example:
                          - recentlySold
                          type: array
                          description: 'Providex the market status for the property<br>

                            Note that a property may have multiple active listings, as well as a recent sale, resulting in an accumulation of statuses. These will be sorted alphabetically in the response.'
                          items:
                            x-stoplight:
                              id: pfcz17ab6v8ac
                            enum:
                            - offMarket
                            - forSale
                            - forRent
                            - recentlySold
                            example: recentlySold
              examples:
                Example 1:
                  value:
                    numberOfResults: 552
                    pageInfo:
                      pageStartCursor: WzAuNTMxNTMzNzg3ODA4MDI2OCw3MTk5NDVd
                      pageEndCursor: LzRuPDMxNTMzNzg3OYF4MDI2OCw3MTk5NRAm
                      hasPreviousPage: true
                      hasNextPage: true
                    propertySummaries:
                    - propertyId: 8282053
                      address:
                        fullAddress: 12 Bowman Cl, Araluen, NT 0870
                        unitNumber: string
                        streetNumber: '12'
                        streetName: BOWMAN
                        streetType: CL
                        suburb: ARALUEN
                        postcode: 0870
                        state: NT
                        location:
                          latitude: 133.85501
                          longitude: -23.705948
                      parcels:
                      - planNumber: '786836'
                        lotNumber: '124'
                      attributes:
                        bedrooms:
                          value: 3
                          sourceDate: '2022-12-10'
                        bathrooms:
                          value: 2
                          sourceDate: '2022-12-10'
                        carSpaces:
                          value: 1
                          sourceDate: '2022-12-10'
                        livingArea:
                          value: 212
                          sourceDate: '2022-12-10'
                        landArea:
                          value: 851
                          sourceDate: '2022-12-10'
                        propertyType:
                          value: house
                          sourceDate: '2022-12-10'
                      recentSale:
                        transactionDate: '2023-01-25'
                        sourceCategory: vg
                        saleValue: 1350000
                        saleValueSuppressed: true
                        listingId: '7654321'
                      image:
                        id: d300f1a395373a8622bb0fa1b2ec53d42951d5d363defc75d18a479b06d800c4.jpg
                        extension: jpg
                        type: image
                        sha: d300f1a395373a8622bb0fa1b2ec53d42951d5d363defc75d18a479b06d800c4
                      activeListings:
                      - listingId: '7654321'
                        priceDescription: string
                        listingType: sale
                      marketStatus:
                      - recentlySold
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 0
                      level: string
                      description: string
                      parameters:
                        propertyId: string
                        sourceCategory: string
                        latestTransactionOnly: string
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7004
                          - 7007
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - An incorrect field type has been included - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              examples:
                              - must be an integer
                            sourceCategory:
                              type: string
                              examples:
                              - must only include an allowed value
                            latestTransactionOnly:
                              type: string
                              examples:
                              - must be boolean
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9003
                      description: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Unknown id, the included value does not match a record within our system - Please ensure that the correct value is added to this field
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
      operationId: get-api-v2-properties-summaries-search
      x-stoplight:
        id: ektnh73fbragv
      description: 'Residential Properties search by suburb and postcode and/or bounding box, which returns paged property summaries (max 25 per page)


        This endpoint is ideal for property research, where the results are to be displayed in a list.


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `vg`,`geoscape`,`serviceAgent`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
  /api/v2/properties/geopoints/search:
    parameters: []
    get:
      summary: /api/v2/properties/geopoints/search
      tags:
      - Search
      parameters:
      - schema:
          type: string
          example: Bearer xxxxx
        in: header
        name: Authorization
        description: Provide your bearer token as a string, in the format Bearer {access_token} in the Authorization Header Refer to Authentication
        required: true
      - name: bedroomsMin
        in: query
        description: Minimum number of bedrooms
        schema:
          type: integer
          examples:
          - 3
      - name: bedroomsMax
        in: query
        description: Maximum number of bedrooms
        schema:
          type: integer
          examples:
          - 4
      - name: bathroomsMin
        in: query
        description: Minimum number of bathrooms
        schema:
          type: integer
          examples:
          - 1
      - name: bathroomsMax
        in: query
        description: Maximum number of bathrooms
        schema:
          type: integer
          examples:
          - 3
      - name: carSpacesMin
        in: query
        description: Minimum number of car spaces
        schema:
          type: integer
          examples:
          - 1
      - name: carSpacesMax
        in: query
        description: Maximum number of car spaces
        schema:
          type: integer
          examples:
          - 2
      - name: landAreaMin
        in: query
        description: Minimum size of land space area (measured in m2)
        schema:
          type: integer
          examples:
          - 550
      - name: landAreaMax
        in: query
        description: Maximum size of land space area (measured in m2)
        schema:
          type: integer
          examples:
          - 650
      - schema:
          type: integer
        in: query
        name: livingAreaMin
        description: Minimum size of living area (measured in m2)
        example: 300
      - schema:
          type: integer
        in: query
        name: livingAreaMax
        description: Maximum size of living area (measured in m2)
        example: 850
      - name: propertyType
        in: query
        description: Classification of the type of property
        schema:
          type: string
          enum:
          - house
          - unit
          example: house
      - name: afterPageCursor
        in: query
        description: 'The page starting position as one transaction after the defined cursor</br>Note: Cannot be used in conjunction with `beforePageCursor`</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)'
        schema:
          type: string
          example: Wzc3Ni4yMTQ2NjY0NTE4Mzk5LDM0Nzg0MDFd
      - name: beforePageCursor
        in: query
        description: 'The page starting position as one transaction prior to the defined cursor</br>Note: Cannot be used in conjunction with `afterPageCursor`</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)'
        schema:
          type: string
          example: WzU0LjgwNTYxNjE0MzQ5MTM4LDE0MDY5NjMzXQ==
      - name: pageSize
        in: query
        description: The maximum number of transaction results that will be returned for each page</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)
        schema:
          type: integer
          default: 25
          examples:
          - 20
          example: 20
          maximum: 200
      - schema:
          type: string
          example: -37.822170,144.945660,-37.807524,144.971410
        in: query
        name: boundingBox
        description: 'Bounding box for map-based filtering.<br>Provided as comma separated values in the format `minLat`,`minLong`,`maxLat`,`maxLong`. Must provide exactly 4 numbers.<br>Note: If `suburb`, `postcode` and `state` are not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
        in: query
        name: suburb
        description: 'Name of the suburb being searched<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
        in: query
        name: postcode
        description: 'Postcode of the suburb being searched<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      - schema:
          type: string
          enum:
          - act
          - nsw
          - nt
          - qld
          - sa
          - tas
          - vic
          - wa
          examples:
          - vic
        in: query
        name: state
        description: 'State or territory within Australia<br>Note: If `boundingBox` is not supplied, then this field is <span style="color:#F47853">required</span>'
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  numberOfResults:
                    type: integer
                    description: Total number of transactions that match the search criteria<br>A maximum of 10,000 results will be returned for a query.
                    examples:
                    - 552
                    maximum: 10000
                  pageInfo:
                    type: object
                    description: Page information for the purpose of pagination</br>Refer to [Pagination](https://developer.proptrack.com.au/docs/apis/pagination)
                    properties:
                      pageStartCursor:
                        type:
                        - string
                        - 'null'
                        description: Unique cursor identifier for the first transaction on the page
                        examples:
                        - WzAuNTMxNTMzNzg3ODA4MDI2OCw3MTk5NDVd
                      pageEndCursor:
                        type:
                        - string
                        - 'null'
                        description: Unique cursor identifier for the last transaction on the page
                        examples:
                        - LzRuPDMxNTMzNzg3OYF4MDI2OCw3MTk5NRAm
                      hasPreviousPage:
                        type: boolean
                        description: Defines if a preceding page of transactions exists
                      hasNextPage:
                        type: boolean
                        description: Defines if a proceeding page of transactions exists
                  propertyGeopoints:
                    type: array
                    description: Paged array of the geopoints for properties that match the search and filter criteria
                    items:
                      type: object
                      x-stoplight:
                        id: shiaa5vzsmnqx
                      properties:
                        propertyId:
                          type: integer
                          example: 8282053
                        address:
                          type: object
                          x-stoplight:
                            id: usiq0hy89c8zd
                          properties:
                            location:
                              type: object
                              properties:
                                latitude:
                                  type: number
                                  example: 133.85501
                                  format: float
                                longitude:
                                  type: number
                                  example: -23.705948
                                  format: float
              examples:
                Example 1:
                  value:
                    numberOfResults: 552
                    pageInfo:
                      pageStartCursor: WzAuNTMxNTMzNzg3ODA4MDI2OCw3MTk5NDVd
                      pageEndCursor: LzRuPDMxNTMzNzg3OYF4MDI2OCw3MTk5NRAm
                      hasPreviousPage: true
                      hasNextPage: true
                    propertyGeopoints:
                    - propertyId: 8282053
                      address:
                        location:
                          latitude: 133.85501
                          longitude: -23.705948
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 0
                      level: string
                      description: string
                      parameters:
                        propertyId: string
                        sourceCategory: string
                        latestTransactionOnly: string
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7004
                          - 7007
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - An incorrect field type has been included - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              examples:
                              - must be an integer
                            sourceCategory:
                              type: string
                              examples:
                              - must only include an allowed value
                            latestTransactionOnly:
                              type: string
                              examples:
                              - must be boolean
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9003
                      description: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Unknown id, the included value does not match a record within our system - Please ensure that the correct value is added to this field
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
      operationId: get-api-v2-properties-geopoints-pins
      description: 'Residential Properties search by suburb and postcode and/or bounding box, which returns lat/longs for each matching propertyI. (max 200 per page)


        This endpoint is ideal for property research, where the results are to be displayed as pins on a map.


        Additional property information for individual properties can be retrieved from other PropTrack APIs utilising the provided propertyId.


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `vg`,`geoscape`,`serviceAgent`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
      x-stoplight:
        id: cku33zeq67ty6
