openapi: 3.2.0
info:
  version: '1.0'
  title: OAuth 2.0 Oauth2 API
  description: '### Authentication


    - **OAuth 2.0 POST /oauth2/token**

    The token service is responsible in generating and validating the token in order to make subsuquent calls to our API services


    Getting Started


    Start your journey


    API Trials


    Authentication


    Error Handling


    API References


    Explore our knowledge base


    API Guide


    Rate Limiting


    Getting Support


    Useful Docs


    Helpful resources


    Pagination


    Rules Engine


    FAQs


    Get in Touch


    Connect with us


    Contact Sales


    Contact Support'
  termsOfService: https://developer.proptrack.com.au/docs/apis/terms-of-use
  contact:
    email: https://www.proptrack.com.au/contact-us
    url: https://www.proptrack.com.au/contact-us
    name: PropTrack
servers:
- url: https://data.proptrack.com
tags:
- name: OAuth2
paths:
  /oauth2/token:
    post:
      summary: /oauth2/token
      description: 'The token service, using OAuth 2.0, is responsible for generating and validating an authentication token.


        Prior to making an API request, a token needs to be generated using your assigned credentials. The token is required prior to making any API call.


        Refer to How To Authenticate for further information.'
      operationId: auth-token
      parameters:
      - name: Authorization
        in: header
        description: Contains the word Basic, followed by a space and a base64-encoded(non-encrypted) string api_key:api_secret. For example, where api_key = key and api_secret = secret, then your base64-encoded Basic Header would be the below Example value.
        required: true
        schema:
          type: string
          examples:
          - Basic a2V5OnNlY3JldA==
      requestBody:
        description: '> PropTrack does not support provision of client credentials as form parameters in the request body.'
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  enum:
                  - client_credentials
                  description: Should always be `client_credentials`
                  type: string
              required:
              - grant_type
            examples:
              Sample Request:
                value:
                  grant_type: client_credentials
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: 'The access token (JWT)</br>

                      Note: This will be used in the `Authorization` Header for all subsequent calls to the other Property Data API endpoints'
                    examples:
                    - eyJrarY0doWW9nWmJJXC9FQWlrZXNuWUk9IiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiI2c2QxNGVpNTVkazg1OWxjcG4yZ2tnM2JuYyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoic_lLWFw
                  token_type:
                    enum:
                    - Bearer
                    description: 'The type of authentication token</br>

                      Note: `Basic` will be used for the authentication token request, but all subsequent calls to the other Property Data API endpoints would use `Bearer` as the token type'
                    examples:
                    - Bearer
                    type: string
                  expires_in:
                    enum:
                    - 3600
                    description: 'Allowed time to live (TTL) until a new authentication token is required (measured in seconds)</br>

                      Note: This will always be equal to 3,600 seconds (1 hour)'
                    examples:
                    - 3600
                    type: integer
                required:
                - access_token
                - token_type
                - expires_in
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)'
        '403':
          description: "<!-- theme: danger -->\n\n> #### Forbidden (403)\n\nIf you receive an error message in the following format, it could be due to your IP address being blocked. Please contact our customer support team at support@proptrack.com for further information.\n\n``` html\n<HTML>\n\n<HEAD>\n    <TITLE>Access Denied</TITLE>\n</HEAD>\n\n<BODY>\n    <H1>Access Denied</H1>\n\n    You don't have permission to access\n    \"http&#58;&#47;&#47;data&#45;sit&#46;uat&#46;proptrack&#46;com&#47;oauth2&#47;token\" on this server.<P>\n        Reference&#32;&#35;18&#46;2ff877df&#46;1709188434&#46;cf2b11c\n</BODY>\n\n</HTML>\n```"
          content: {}
      servers:
      - url: https://data.proptrack.com
      tags:
      - OAuth2
