openapi: 3.2.0
info:
  version: v2
  title: Market Supply & Demand API
  description: '- **Market/Auctions: GET /api/v2/market/auctions**

    Retrieves auction result statistics for a given state, suburb or greater capital city statistical area

    - **Market/Rent History: GET /api/v2/market/rent/historic/{metric}**

    Retrieves historic rental transaction statistics for a given suburb

    - **Market/Sale History: GET /api/v2/market/sale/historic/{metric}**

    Retrieves historic sale transaction statistics for a given suburb


    - **Market/Supply & Demand: GET…'
  termsOfService: https://developer.proptrack.com.au/docs/apis/terms-of-use
  contact:
    name: PropTrack
    url: https://www.proptrack.com.au/contact-us
    email: https://www.proptrack.com.au/contact-us
servers:
- url: https://data.proptrack.com
tags:
- name: Supply & Demand
paths:
  /api/v2/market/supply-and-demand/{metric}:
    get:
      tags:
      - Supply & Demand
      summary: /api/v2/market/supply-and-demand/{metric}
      description: Retrieves property supply and consumer demand statistics for a given suburb.
      operationId: market.supply-and-demand
      parameters:
      - name: Authorization
        in: header
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
        schema:
          type: string
          examples:
          - Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
          default: Bearer {access_token}
          example: Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
      - name: state
        in: query
        description: State or territory within Australia
        required: true
        schema:
          enum:
          - act
          - nsw
          - nt
          - qld
          - sa
          - tas
          - vic
          - wa
          examples:
          - nsw
          type: string
      - name: postcode
        in: query
        description: Four digit postcode
        required: true
        schema:
          type: integer
          examples:
          - 2000
      - name: suburb
        in: query
        description: Suburb name
        required: true
        schema:
          type: string
          examples:
          - Sydney
      - name: startDate
        in: query
        description: Start of date range to be queried. Defaulted to 12 months prior to today's date if left empty</br>Format `YYYY-MM-DD`
        schema:
          type: string
          format: date
          examples:
          - '2022-08-01'
      - name: endDate
        in: query
        description: End of date range to be queried. Defaulted to today's date if left empty</br>Format `YYYY-MM-DD`
        schema:
          type: string
          format: date
          examples:
          - '2022-09-30'
      - name: propertyTypes
        in: query
        description: 'The type of properties that will be queried against</br>Note: Values are comma separated'
        required: true
        schema:
          enum:
          - house
          - unit
          examples:
          - house,unit
          type: array
      - name: frequency
        in: query
        description: Reporting frequency
        schema:
          enum:
          - monthly
          - weekly
          default: monthly
          examples:
          - monthly
          type: string
      - name: metric
        in: path
        description: Property market metric. </b> Refer to [Market Metrics](https://developer.proptrack.com.au/docs/apis/guide#market-metrics) for more information.
        required: true
        schema:
          enum:
          - potential-buyers
          - potential-renters
          examples:
          - potential-buyers
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          content:
            application/json:
              schema:
                type: array
                x-examples:
                  Example 1:
                  - propertyType: house
                    dateRanges:
                    - startDate: '2022-09-01'
                      endDate: '2022-09-30'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 921
                        supplyChangePercentage: 24.1379310344
                        demandChangePercentage: 2.12539851222
                      - bedrooms: '2'
                        supply: 28
                        demand: 1044
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 19
                        demand: 883
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                    - startDate: '2022-08-01'
                      endDate: '2022-08-31'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 1002
                        supplyChangePercentage: 0
                        demandChangePercentage: 8.794788273615636
                      - bedrooms: '2'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 13
                        demand: 998
                        supplyChangePercentage: -31.57894736842105
                        demandChangePercentage: 13.023782559456398
                  - propertyType: unit
                    dateRanges:
                    - startDate: '2022-09-01'
                      endDate: '2022-09-30'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 921
                        supplyChangePercentage: 24.1379310344
                        demandChangePercentage: 2.12539851222
                      - bedrooms: '2'
                        supply: 28
                        demand: 1044
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 19
                        demand: 883
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                    - startDate: '2022-08-01'
                      endDate: '2022-08-31'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 1002
                        supplyChangePercentage: 0
                        demandChangePercentage: 8.794788273615636
                      - bedrooms: '2'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 13
                        demand: 998
                        supplyChangePercentage: -31.57894736842105
                        demandChangePercentage: 13.023782559456398
                items:
                  type: object
                  properties:
                    propertyType:
                      enum:
                      - house
                      - unit
                      description: Type of property
                      examples:
                      - house
                    dateRanges:
                      type: array
                      description: Time period which the metric is expressed across
                      items:
                        type: object
                        properties:
                          startDate:
                            type: string
                            description: First date in the date range</br>Format `YYYY-MM-DD`
                            format: date
                            examples:
                            - '2022-08-01'
                          endDate:
                            type: string
                            description: Last date in the date range</br>Format `YYYY-MM-DD`
                            format: date
                            examples:
                            - '2022-08-31'
                          metricValues:
                            type: array
                            items:
                              type: object
                              properties:
                                bedrooms:
                                  enum:
                                  - '0'
                                  - '1'
                                  - '2'
                                  - '3'
                                  - '4'
                                  - 4+
                                  - 5+
                                  - combined
                                  description: Number of bedrooms that the metric is expressed by
                                  examples:
                                  - 5+
                                supply:
                                  type:
                                  - integer
                                  - 'null'
                                  description: 'The number of listings for sale or rent (based on the metric)<br>

                                    Note that a `null` value indicates data in unavailable for the date range'
                                  examples:
                                  - 22
                                demand:
                                  type:
                                  - integer
                                  - 'null'
                                  description: 'The number of people who are seriously interested in sale or rent listings. Serious interest is defined as people who complete a number of actions, including things like saving a property or saving an inspection time.<br>

                                    Note that a `null` value indicates data in unavailable for the date range'
                                  examples:
                                  - 921
                                supplyChangePercentage:
                                  type: number
                                  description: The difference between supply for a given date range and the previous date range, expressed by percentage
                                  format: float
                                  examples:
                                  - 24.13793
                                demandChangePercentage:
                                  type: number
                                  description: The difference between demand for a given date range and the previous date range, expressed by percentage
                                  format: float
                                  examples:
                                  - 2.125398
              examples:
                Potential Buyers - (Monthly):
                  value:
                  - propertyType: house
                    dateRanges:
                    - startDate: '2022-09-01'
                      endDate: '2022-09-30'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 921
                        supplyChangePercentage: 24.1379310344
                        demandChangePercentage: 2.12539851222
                      - bedrooms: '2'
                        supply: 28
                        demand: 1044
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 19
                        demand: 883
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                    - startDate: '2022-08-01'
                      endDate: '2022-08-31'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 1002
                        supplyChangePercentage: 0
                        demandChangePercentage: 8.794788273615636
                      - bedrooms: '2'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '4'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 5+
                        supply: 13
                        demand: 998
                        supplyChangePercentage: -31.57894736842105
                        demandChangePercentage: 13.023782559456398
                  - propertyType: unit
                    dateRanges:
                    - startDate: '2022-09-01'
                      endDate: '2022-09-30'
                      metricValues:
                      - bedrooms: '0'
                        supply: 22
                        demand: 921
                        supplyChangePercentage: 24.1379310344
                        demandChangePercentage: 2.12539851222
                      - bedrooms: '1'
                        supply: 28
                        demand: 1044
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                      - bedrooms: '2'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 4+
                        supply: 19
                        demand: 883
                        supplyChangePercentage: 19.175
                        demandChangePercentage: 1.77753654
                    - startDate: '2022-08-01'
                      endDate: '2022-08-31'
                      metricValues:
                      - bedrooms: '0'
                        supply: 22
                        demand: 1002
                        supplyChangePercentage: 0
                        demandChangePercentage: 8.794788273615636
                      - bedrooms: '1'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '2'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: '3'
                        supply: 29
                        demand: 1143
                        supplyChangePercentage: 3.571428571428571
                        demandChangePercentage: 9.482758620689655
                      - bedrooms: 4+
                        supply: 13
                        demand: 998
                        supplyChangePercentage: -31.57894736842105
                        demandChangePercentage: 13.023782559456398
                Potential Renters (Weekly):
                  value:
                  - propertyType: house
                    dateRanges:
                    - startDate: '2022-08-01'
                      endDate: '2022-08-07'
                      metricValues:
                      - bedrooms: '1'
                        supply: 19
                        demand: 992
                        supplyChangePercentage: 18.75
                        demandChangePercentage: -0.99800399
                      - bedrooms: '2'
                        supply: 19
                        demand: 1165
                        supplyChangePercentage: -38.7096774
                        demandChangePercentage: 7.17571297148
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 23
                        demand: 906
                        supplyChangePercentage: 35.294117647
                        demandChangePercentage: 2.2573363431
                    - startDate: '2022-08-08'
                      endDate: '2022-08-14'
                      metricValues:
                      - bedrooms: '1'
                        supply: 19
                        demand: 992
                        supplyChangePercentage: 18.75
                        demandChangePercentage: -0.99800399
                      - bedrooms: '2'
                        supply: 19
                        demand: 1165
                        supplyChangePercentage: -38.7096774
                        demandChangePercentage: 7.17571297148
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 23
                        demand: 906
                        supplyChangePercentage: 35.294117647
                        demandChangePercentage: 2.2573363431
                    - startDate: '2022-08-15'
                      endDate: '2022-08-21'
                      metricValues:
                      - bedrooms: '1'
                        supply: 19
                        demand: 992
                        supplyChangePercentage: 18.75
                        demandChangePercentage: -0.99800399
                      - bedrooms: '2'
                        supply: 19
                        demand: 1165
                        supplyChangePercentage: -38.7096774
                        demandChangePercentage: 7.17571297148
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 23
                        demand: 906
                        supplyChangePercentage: 35.294117647
                        demandChangePercentage: 2.2573363431
                    - startDate: '2022-08-22'
                      endDate: '2022-08-28'
                      metricValues:
                      - bedrooms: '1'
                        supply: 13
                        demand: 1167
                        supplyChangePercentage: -31.57894737
                        demandChangePercentage: 17.64112903
                      - bedrooms: '2'
                        supply: 27
                        demand: 1089
                        supplyChangePercentage: 42.105263
                        demandChangePercentage: -6.52360515
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 20
                        demand: 1333
                        supplyChangePercentage: -13.0434783
                        demandChangePercentage: 47.1302428
                    - startDate: '2022-08-29'
                      endDate: '2022-09-04'
                      metricValues:
                      - bedrooms: '1'
                        supply: 19
                        demand: 1082
                        supplyChangePercentage: 46.15384615
                        demandChangePercentage: -7.2836332
                      - bedrooms: '2'
                        supply: 19
                        demand: 1486
                        supplyChangePercentage: -29.62962963
                        demandChangePercentage: 36.4554637
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 12
                        demand: 1287
                        supplyChangePercentage: -40
                        demandChangePercentage: -3.450862716
                    - startDate: '2022-09-05'
                      endDate: '2022-09-11'
                      metricValues:
                      - bedrooms: '1'
                        supply: 18
                        demand: 1244
                        supplyChangePercentage: -5.2631578947
                        demandChangePercentage: 14.97227357
                      - bedrooms: '2'
                        supply: 23
                        demand: 1335
                        supplyChangePercentage: 21.0526316
                        demandChangePercentage: -10.1615074
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 11
                        demand: 1334
                        supplyChangePercentage: -8.3333333332
                        demandChangePercentage: 3.651903652
                    - startDate: '2022-09-12'
                      endDate: '2022-09-18'
                      metricValues:
                      - bedrooms: '1'
                        supply: 22
                        demand: 1034
                        supplyChangePercentage: 22.2222222
                        demandChangePercentage: -16.8810289
                      - bedrooms: '2'
                        supply: 25
                        demand: 1144
                        supplyChangePercentage: 8.695652174
                        demandChangePercentage: -14.3071161
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 19
                        demand: 887
                        supplyChangePercentage: 72.72727273
                        demandChangePercentage: -33.50824588
                    - startDate: '2022-09-19'
                      endDate: '2022-09-25'
                      metricValues:
                      - bedrooms: '1'
                        supply: 18
                        demand: 1727
                        supplyChangePercentage: -18.181818183
                        demandChangePercentage: 67.021276596
                      - bedrooms: '2'
                        supply: 22
                        demand: 1374
                        supplyChangePercentage: -12
                        demandChangePercentage: 20.1048951
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 13
                        demand: 1226
                        supplyChangePercentage: -31.578947368
                        demandChangePercentage: 38.21871477
                    - startDate: '2022-09-26'
                      endDate: '2022-10-02'
                      metricValues:
                      - bedrooms: '1'
                        supply: 17
                        demand: 1201
                        supplyChangePercentage: -5.55555555
                        demandChangePercentage: -30.45744065
                      - bedrooms: '2'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '3'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: '4'
                        supply: 16
                        demand: 1204
                        supplyChangePercentage: -27.27272727
                        demandChangePercentage: -12.372635
                      - bedrooms: 5+
                        supply: 19
                        demand: 1162
                        supplyChangePercentage: 46.153846154
                        demandChangePercentage: -5.220228385
          headers:
            Content-Type:
              schema:
                const: application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7004
                          - 7005
                          - 7007
                          - 7008
                          - 7009
                          - 7010
                          - 7011
                          - 7014
                          - 7015
                          description: Defines the type of error that has occurred
                          examples:
                          - 7004
                        level:
                          const: CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          examples:
                          - CRITICAL
                          x-deprecated: true
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Required parameter is missing - Please ensure that all required parameters have been included
                        parameters:
                          type: object
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            metric:
                              type: string
                              examples:
                              - is a required parameter
                            state:
                              type: string
                              examples:
                              - is a required parameter
                            postcode:
                              type: string
                              examples:
                              - is a required parameter
                            suburb:
                              type: string
                              examples:
                              - is a required parameter
                            propertyTypes:
                              type: string
                              examples:
                              - is a required parameter
                            frequency:
                              type: string
                              examples:
                              - must only include one value
                            startDate:
                              type: string
                              examples:
                              - must be in ISO_8601 format (YYYY-MM-DD)
                            endDate:
                              type: string
                              examples:
                              - must be in ISO_8601 format (YYYY-MM-DD)
                x-examples:
                  Example 1:
                    errors:
                    - code: 7014
                      level: CRITICAL
                      description: An invalid date range has been included - Please ensure that the start and end dates are valid
                      parameters:
                        startDate: cannot exceed the current date
                        endDate: cannot exceed the current date
              examples:
                7004 - Required Parameter Missing:
                  value:
                    errors:
                    - code: 7004
                      level: CRITICAL
                      description: Required parameter is missing - Please ensure that all required parameters have been included
                      parameters:
                        propertyTypes: is a required parameter
                        state: is a required parameter
                        postcode: is a required parameter
                        suburb: is a required parameter
                        metric: is a required parameter
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                          examples:
                          - 9012
                        level:
                          const: CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          examples:
                          - CRITICAL
                          x-deprecated: true
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                x-examples:
                  Example 1:
                    errors:
                    - code: 9016
                      level: CRITICAL
                      description: Authentication token has expired - Please ensure that a valid token authentication request has been completed before trying again
              examples:
                9012 - Authentication Error:
                  value:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
                x-examples:
                  Example 1:
                    errors:
                    - code: 9003
                      description: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 7002
                          description: Defines the type of error that has occurred
                          examples:
                          - 7002
                        level:
                          const: CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          examples:
                          - CRITICAL
                          x-deprecated: true
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Unknown identifier, the included address does not match a record within our system - Please ensure that the state, suburb and postcode are correct
                x-examples:
                  Example 1:
                    errors:
                    - code: 7002
                      level: CRITICAL
                      description: Unknown identifier, the included address does not match a record within our system - Please ensure that the state, suburb and postcode are correct
              examples:
                7002 - No Data Found:
                  value:
                    errors:
                    - code: 7002
                      level: CRITICAL
                      description: Unknown identifier, the included address does not match a record within our system - Please ensure that the state, suburb and postcode are correct
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9011
                      level: CRITICAL
                      description: Rate limit has been exceeded - Please try again shortly
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 9011
                          description: Defines the type of error that has occurred
                          examples:
                          - 9011
                          enum: []
                        level:
                          const: CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          examples:
                          - CRITICAL
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
              examples:
                9011 - Rate Limit Exceeded:
                  value:
                    errors:
                    - code: 9011
                      level: CRITICAL
                      description: Rate limit has been exceeded - Please try again shortly
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#marketsupply--demand) for information on error handling.'
      servers:
      - url: https://data.proptrack.com
      x-stoplight:
        id: zt4h5tmmucx2v
