openapi: 3.2.0
info:
  version: '1.0'
  title: Properties Planning API
  description: 'Properties API


    - **Properties/Summary: **GET** /api/v2/properties/{propertyId}/summary**

    Retrieves basic property and listing information about a property, including a single photo and current market status


    - **Properties/Attributes: **GET** /api/v2/properties/{propertyId}/attributes**

    Retrieves comprehensive and up to date property attributes and features for a given property


    - **Properties/Listings: **GET** /api/v2/properties/{propertyId}/listings**

    Retrieves current and historic listings…'
  contact:
    email: support@proptrack.com
    name: PropTrack Support
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Planning
  description: Property Planning Overlays
paths:
  /api/v2/properties/{propertyId}/planning:
    parameters:
    - schema:
        type: string
      name: propertyId
      in: path
      required: true
    get:
      summary: /properties/{propertyId}/planning
      parameters:
      - schema:
          type: integer
          example: 8282053
        in: query
        name: propertyId
        description: Unique identifier for a property<br>Refer to [Obtaining a propertyId](https://developer.proptrack.com.au/docs/apis/guide#obtaining-a-propertyid)
        required: true
      - schema:
          type: string
          example: Bearer xxxxx
        in: header
        name: Authorization
        description: Provide your bearer token as a string, in the format Bearer {access_token} in the Authorization Header Refer to Authentication
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  propertyId:
                    type: integer
                    x-stoplight:
                      id: gzxewii1n7vri
                    example: 8282053
                  zoning:
                    type: array
                    x-stoplight:
                      id: 136onyo50w9gn
                    items:
                      x-stoplight:
                        id: kqu6vgyrnx818
                      type: object
                      properties:
                        isPrimary:
                          type: boolean
                          x-stoplight:
                            id: buxhr26hhg0lc
                        zoneCode:
                          type: string
                          x-stoplight:
                            id: jsfjwml4rrqqj
                          example: R2
                        zoneLabel1:
                          type: string
                          x-stoplight:
                            id: xfy8y942cbath
                          example: Low density residential
                        zoneLabel2:
                          type: string
                          x-stoplight:
                            id: n9l216mjhlnmk
                          example: R2 Low Density Residential
                        lgaName:
                          type: string
                          x-stoplight:
                            id: wo9lu3p6gphx4
                        lgaPlanningUrl:
                          type:
                          - string
                          - 'null'
                          x-stoplight:
                            id: i10aedm7k3j22
                          example: https://www.cityofparramatta.nsw.gov.au/development/planning/development-control-plans
                        permittedUse:
                          type: array
                          x-stoplight:
                            id: vzbc2rk84fjsp
                          items:
                            x-stoplight:
                              id: w5294z9c4ihhj
                            type: string
                            example: Home occupations
                        permittedUseWithControls:
                          type: array
                          x-stoplight:
                            id: zs498recrak72
                          items:
                            x-stoplight:
                              id: eds83gdrnyr7l
                            type: string
                            example: Attached dwellings
                        prohibitedUse:
                          type: array
                          x-stoplight:
                            id: 4h9txb2dbh0vx
                          items:
                            x-stoplight:
                              id: 769ljfuwtr70n
                            type: string
                            example: Animal boarding or training establishments
                        sourceDate:
                          type: string
                          x-stoplight:
                            id: jwt1iu0y7k61c
                          format: date
                          example: '2024-03-26'
                  propertyUse:
                    type:
                    - object
                    - 'null'
                    x-stoplight:
                      id: lpzzxfoq79smb
                    properties:
                      permittedUseApartment:
                        type: object
                        x-stoplight:
                          id: uw7z2d07k1fq4
                        properties:
                          value:
                            x-stoplight:
                              id: l5eq1manpa7ek
                            example: 'true'
                            enum:
                            - 'true'
                            - 'false'
                            - maybe
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: usf3evnauyfqu
                            format: date
                      permittedUseDuplex:
                        type: object
                        x-stoplight:
                          id: ffiptb0r3srkn
                        properties:
                          value:
                            x-stoplight:
                              id: 0cehtg1720l0i
                            enum:
                            - 'true'
                            - 'false'
                            - maybe
                            example: 'true'
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: eqzv85ceji9m8
                            format: date
                      permittedUseMixedUse:
                        type: object
                        x-stoplight:
                          id: bqs24b1nw98tg
                        properties:
                          value:
                            x-stoplight:
                              id: 4j5d3mcdk6n3h
                            enum:
                            - 'true'
                            - 'false'
                            - maybe
                            example: 'true'
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: d5d2d6v2imbq9
                            format: date
                      permittedUseTownhouse:
                        type: object
                        x-stoplight:
                          id: ypvc59r4mbp5r
                        properties:
                          value:
                            x-stoplight:
                              id: n5pwncbt5hs6k
                            enum:
                            - 'true'
                            - 'false'
                            - maybe
                            example: 'true'
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: ejg8x9t9gnlce
                            format: date
              examples:
                Example 1:
                  value:
                    propertyId: 8282053
                    zoning:
                    - isPrimary: true
                      zoneCode: R2
                      zoneLabel1: Low density residential
                      zoneLabel2: R2 Low Density Residential
                      lgaName: string
                      lgaPlanningUrl: https://www.cityofparramatta.nsw.gov.au/development/planning/development-control-plans
                      permittedUse:
                      - Home occupations
                      permittedUseWithControls:
                      - Attached dwellings
                      prohibitedUse:
                      - Animal boarding or training establishments
                      sourceDate: '2024-03-26'
                    propertyUse:
                      permittedUseApartment:
                        value: 'true'
                        sourceDate: '2019-08-24'
                      permittedUseDuplex:
                        value: 'true'
                        sourceDate: '2019-08-24'
                      permittedUseMixedUse:
                        value: 'true'
                        sourceDate: '2019-08-24'
                      permittedUseTownhouse:
                        value: maybe
                        sourceDate: '2019-08-24'
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: r7le66zh8v67w
                    items:
                      x-stoplight:
                        id: hjx2b7h7b522b
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: bxi3biqyk4f8u
                          enum:
                          - 7004
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: 6ghay4wgxkulh
                          description: Overview of the error that has occurred
                          example: An incorrect field type has been entered - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          x-stoplight:
                            id: 7xnsmg3xr6o8l
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: 8vc5y4xl1l3sm
                              example: must be an integer
                      required:
                      - code
                      - description
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: 846gmdjflhbel
                    items:
                      x-stoplight:
                        id: q0wcvqba2kawb
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: c1bdva5f51s0r
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: 7b3fjhmy2mqm1
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: ip2gz8ye43efo
                          description: Overview of the error that has occurred
                          example: Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: hkyda18rsudcx
                    items:
                      x-stoplight:
                        id: ttffyir1ybkf3
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: zh7tigi9kaiq0
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: yngl3cnc9p9lt
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: rflmgrjw6r30c
                    items:
                      x-stoplight:
                        id: 41xpgxe3hwplb
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: 6s11oiyf6ex4n
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: eird63ds5ppbh
                          description: Overview of the error that has occurred
                        parameters:
                          type: object
                          x-stoplight:
                            id: 6h9uxuf2b8911
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: 8d34l73jq140e
                              example: cannot be found
                      required:
                      - code
                      - description
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: inksu4sg688w4
                    items:
                      x-stoplight:
                        id: yzle9v4asb6hh
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: nufl4zvbock0h
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: uvetgewo8pu4e
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: ogsqejugoy2ht
                          description: Overview of the error that has occurred
                          example: Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)'
      operationId: get-api-v2-properties-planning
      x-stoplight:
        id: t4dcw068k69y4
      description: 'Endpoint for retrieving planning information for a specific property.


        This includes:

        * Property Zoning

        * Permitted Use


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `archistar`,`geoscape`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
      tags:
      - Planning
