openapi: 3.2.0
info:
  version: '1.0'
  title: Properties Attributes API
  description: 'Properties API


    - **Properties/Summary: **GET** /api/v2/properties/{propertyId}/summary**

    Retrieves basic property and listing information about a property, including a single photo and current market status


    - **Properties/Attributes: **GET** /api/v2/properties/{propertyId}/attributes**

    Retrieves comprehensive and up to date property attributes and features for a given property


    - **Properties/Listings: **GET** /api/v2/properties/{propertyId}/listings**

    Retrieves current and historic listings…'
  contact:
    email: support@proptrack.com
    name: PropTrack Support
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Attributes
  description: Property Attributes
paths:
  /api/v2/properties/{propertyId}/attributes:
    parameters:
    - schema:
        type: integer
        example: 123456789
      name: propertyId
      in: path
      required: true
      description: Unique identifier for a property</br> Refer to [Obtaining a propertyId](https://developer.proptrack.com.au/docs/apis/guide#obtaining-a-propertyid)
    get:
      summary: /api/v2/properties/{propertyId}/attributes
      tags:
      - Attributes
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - propertyId
                properties:
                  propertyId:
                    type: integer
                    x-stoplight:
                      id: x1wcwhbyk4b65
                    description: Unique identifier for a property
                    example: 123456789
                  attributes:
                    type: object
                    x-stoplight:
                      id: ow5925e8cvnmu
                    properties:
                      bedrooms:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: n4083nk3hen2v
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: clhrjw7nexbaf
                            description: Number of bedrooms
                            example: 4
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: wejzs033oc0m2
                            format: date
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            example: '2023-01-25'
                      bathrooms:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: wheyondlgmyqr
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: t1e1gd1v0eud7
                            description: Number of bathrooms
                            example: 2
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: hz3drhii7fqyb
                            format: date
                            example: '2023-01-25'
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                      carSpaces:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: 47axpda4hallg
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: dmtxr6c91rfen
                            description: Number of car spaces
                            example: 2
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: bdu1bh1o3lxyb
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      floorArea:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: oalb1kyuw9viz
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: 0p66jx4bak7za
                            description: Floor space area (measured in m2)
                            example: 325
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: peqx778ewgee3
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      landArea:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: kus2buhyhvx9y
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: qbtzw4x45ba5j
                            example: 650
                            description: Land space area (measured in m2)
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: bfph5i6u113xk
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      landUse:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: f0tb8dh3rtfwb
                        properties:
                          classifications:
                            x-stoplight:
                              id: 3060qmcgtfe0p
                            type: array
                            description: Classifications of the type of land use
                            items:
                              x-stoplight:
                                id: y2ed1p6g2zgoe
                              type: object
                              properties:
                                value:
                                  x-stoplight:
                                    id: pfa8bsdz6esr5
                                  enum:
                                  - residential
                                  - other
                      livingArea:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: kdnq9wm1kq2cx
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: nz318r1prsq4n
                            description: Living area (measured in m2)
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: 1cdaqk89tcm8t
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      propertyType:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: hew0cv4jllic0
                        properties:
                          value:
                            x-stoplight:
                              id: 89uzsaiwdulwn
                            enum:
                            - unit
                            - house
                            description: Classification of the type of property
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: 0y78bu068nrw0
                            format: date
                            example: '2023-01-25'
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                      roofType:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: iigjecy70ekod
                        properties:
                          value:
                            type: string
                            x-stoplight:
                              id: fvb5cjdvawgi4
                            description: The type of roof on the property
                            example: colorbond
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: zv44o02mq5fz6
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      wallType:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: ro9rahe6kllol
                        properties:
                          value:
                            type: string
                            x-stoplight:
                              id: gq03g8fmjvnr3
                            description: The type of material used on the external walls
                            example: brick
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: 8fgfjzs00g8x5
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      yearBuilt:
                        type:
                        - object
                        - 'null'
                        x-stoplight:
                          id: zp64yliv3q0a6
                        properties:
                          value:
                            type: integer
                            x-stoplight:
                              id: 5k9zns7m13mbp
                            description: The year that the property was built
                            example: 2019
                          sourceDate:
                            type: string
                            x-stoplight:
                              id: edj91g0w1d7qt
                            description: Date that the source provided the data for this record.</br>Format `YYYY-MM-DD`
                            format: date
                            example: '2023-01-25'
                      features:
                        type: array
                        x-stoplight:
                          id: 8ej3gbdi2mgca
                        items:
                          x-stoplight:
                            id: 2isoyfs6x2f0d
                          enum:
                          - airConditioning
                          - alarmSystem
                          - balcony
                          - builtInRobes
                          - courtyard
                          - deck
                          - dishwasher
                          - ductedCooling
                          - ductedHeating
                          - electricHeating
                          - evaporativeCooling
                          - floorboards
                          - fullyFenced
                          - furnished
                          - gasHeating
                          - greyWaterSystem
                          - gym
                          - hydronicHeating
                          - insideSpa
                          - openFireplace
                          - outsideSpa
                          - poolAbove
                          - poolInGround
                          - remoteGarage
                          - reverseCycleAirCon
                          - rumpusRoom
                          - secureParking
                          - shed
                          - solarHotWater
                          - solarPanels
                          - splitSystemAirCon
                          - splitSystemHeating
                          - study
                          - tennisCourt
                          - vacuumSystem
                          - waterTank
                          - workshop
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: v837ml7r05rxl
                    items:
                      x-stoplight:
                        id: nx5khpow3oin2
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: 94ts6ukimutn8
                          enum:
                          - 7004
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: p8l3gcnqzefm8
                          description: Overview of the error that has occurred
                          example: An incorrect field type has been entered - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          x-stoplight:
                            id: 7o3jribipqu6z
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: eblvhfgcxohg1
                              example: must be an integer
                      required:
                      - code
                      - description
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: e39h6kc7a1oy2
                    items:
                      x-stoplight:
                        id: 4iaqwxq9cf2he
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: c1lcuqokkx0i2
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: 7oeyte8vbd61j
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: f5knmkvofp3xg
                          description: Overview of the error that has occurred
                          example: Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: fvac9jrga0piy
                    items:
                      x-stoplight:
                        id: ayjcicjfsjlu2
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: tfp9frtmdyco5
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: i30fbmnpiklyj
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: 8anir8d5za9r3
                    items:
                      x-stoplight:
                        id: jodxizyivkxv7
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: 7756mpy6h0p23
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: psj6o0i0dnzqi
                          description: Overview of the error that has occurred
                        parameters:
                          type: object
                          x-stoplight:
                            id: kr7k1nvv1uccd
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: l0qfz7o0anaf4
                              example: cannot be found
                      required:
                      - code
                      - description
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: 5zermde5wqnzt
                    items:
                      x-stoplight:
                        id: 50b2j3m7ba9np
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: apai66khrgtzf
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: 0on9tfoci606j
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: jcmniduhjxxli
                          description: Overview of the error that has occurred
                          example: Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)'
      operationId: properties-attributes
      x-stoplight:
        id: x3lmc3ikfjuye
      parameters:
      - schema:
          type: string
          example: Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
          default: Bearer {access_token}
        in: header
        name: Authorization
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
      description: 'Retrieves comprehensive and up to date property attributes and features for a given property.


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `vg`,`geoscape`,`serviceAgent`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
