openapi: 3.2.0
info:
  version: v1
  title: Reports Property Report API
  description: '- **AVM/PDF: GET /api/v1/reports/valuations/{valuationId}/pdf**

    Generates a valuation report, based on a previous AVM request

    - **Reports/Property: POST /api/v1/reports/property**

    Generates a property report for a given property


    Getting Started


    Start your journey


    API Trials


    Authentication


    Error Handling


    API References


    Explore our knowledge base


    API Guide


    Rate Limiting


    Getting Support


    Useful Docs


    Helpful resources


    Pagination


    Rules Engine


    FAQs


    Get in Touch


    Connect with…'
  termsOfService: https://developer.proptrack.com.au/docs/apis/terms-of-use
  contact:
    url: https://www.proptrack.com.au/contact-us
    email: https://www.proptrack.com.au/contact-us
    name: PropTrack
servers:
- url: https://data.proptrack.com
tags:
- name: Property Report
paths:
  /api/v1/reports/property:
    post:
      summary: /api/v1/reports/property
      description: Generates a property report for a given property.
      operationId: reports-property-report
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                propertyId:
                  type: integer
                  description: Unique identifier for a property
                configId:
                  type: string
                  description: Unique report configuration identifier, provided by PropTrack</br>Default is a standard PropTrack property report
                  format: uuid
                expiresAt:
                  type: string
                  description: 'Date after which the report will expire</br>Default is 90 days from date of issue</br>Note: Maximum timeframe is 12 months</br>Format `YYYY-MM-DD`'
                meta:
                  type: object
                  description: 'Custom data or information displayed on a property report, available on a premium report only</br>Some examples may include: name, email or phone number (Contact us to discuss you requirements)'
              required:
              - propertyId
              x-examples:
                Example 1:
                  propertyId: 1026185
      responses:
        '201':
          description: '<!-- theme: success -->


            > #### Created (201)

            A digital property report is successfully created and a property report URL is returned.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportUrl:
                    type: string
                    description: Link to the digital property report
                    examples:
                    - https://report.proptrack.com/r/00e7j158-b633-8874-ae81-9239f4w2f554
                required:
                - reportUrl
                x-examples:
                  Example 1:
                    reportUrl: https://report.proptrack.com/r/00e7j158-b633-8874-ae81-9239f4w2f554
          headers:
            Content-Type:
              schema:
                const: application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7002
                          - 7004
                          - 7005
                          - 7008
                          - 7010
                          description: Defines the type of error that has occurred
                          examples:
                          - 7010
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - An incorrect format has been included - Please ensure that the correct formatting has been used for all parameters
                        parameters:
                          type: object
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            configId:
                              type: string
                              examples:
                              - invalid format
                            expiresAt:
                              type: string
                              examples:
                              - invalid format
                            propertyId:
                              type: string
                              examples:
                              - is required
                      required:
                      - code
                      - description
                x-examples:
                  Example 1:
                    errors:
                    - code: 7002
                      description: An incorrect format has been included - Please ensure that the correct formatting has been used for all parameters
                      parameters:
                        configId: invalid format
                        expiresAt: invalid format
                        propertyId: is required
              examples:
                Response Example:
                  value:
                    errors:
                    - code: 7010
                      description: An incorrect format has been included - Please ensure that the correct formatting has been used for all parameters
                      parameters:
                        configId: invalid format
                        expiresAt: invalid format
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          description: Defines the type of error that has occurred
                          examples:
                          - UNAUTHORIZED
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Unauthorized
                      required:
                      - code
                      - description
                x-examples:
                  Example 1:
                    errors:
                    - code: UNAUTHORIZED
                      description: Unauthorized
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->

            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 9003
                          description: Defines the type of error that has occurred
                          examples:
                          - 9003
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      code:
                        const: 7001
                        description: Defines the type of error that has occurred
                        examples:
                        - 7001
                      description:
                        type: string
                        description: Overview of the error that has occurred
                        examples:
                        - The value does not match a record within our system
                      parameters:
                        type: object
                        description: A set of parameters that are causing the error and the rule that was invoked
                        properties:
                          configId:
                            type: string
                            examples:
                            - unknown value
                          propertyId:
                            type: string
                            examples:
                            - unknown value
                    required:
                    - code
                    - description
                x-examples:
                  Example 1:
                    errors:
                      code: 7001
                      description: The value does not match a record within our system
                      parameters:
                        configId: unknown value
                        propertyId: unknown value
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 9011
                          description: Defines the type of error that has occurred
                          examples:
                          - 9011
                        level:
                          const: CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
                x-examples:
                  Example 1:
                    errors:
                    - code: 9011
                      level: CRITICAL
                      description: Rate limit has been exceeded - Please try again shortly
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#reportsproperty) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          const: 9000
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - An internal server error has occurred and the requested data cannot be returned at this time
                x-examples:
                  Example 1:
                    errors:
                    - code: 7000
                      description: An internal server error has occurred and the requested data cannot be returned at this time
      servers:
      - url: https://data.proptrack.com
      tags:
      - Property Report
      parameters:
      - name: Authorization
        in: header
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
        schema:
          type: string
          examples:
          - Bearer eyJraWQiOiJiYWRmNzUyNC1jYzBkLTQ3YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiOiJKV1QiLCJhbGc
          default: Bearer {access_token}
          example: Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
