openapi: 3.2.0
info:
  version: '1.0'
  title: Properties Transactions API
  description: 'Properties API


    - **Properties/Summary: **GET** /api/v2/properties/{propertyId}/summary**

    Retrieves basic property and listing information about a property, including a single photo and current market status


    - **Properties/Attributes: **GET** /api/v2/properties/{propertyId}/attributes**

    Retrieves comprehensive and up to date property attributes and features for a given property


    - **Properties/Listings: **GET** /api/v2/properties/{propertyId}/listings**

    Retrieves current and historic listings…'
  contact:
    email: support@proptrack.com
    name: PropTrack Support
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Transactions
  description: Property Transactions
paths:
  /api/v2/properties/{propertyId}/transactions:
    get:
      tags:
      - Transactions
      summary: /api/v2/properties/{propertyId}/transactions
      description: 'Retrieves sold transactions for a given property.


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `vg`,`serviceAgent`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
      operationId: transactions
      parameters:
      - name: Authorization
        in: header
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
        schema:
          type: string
          example: Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
          default: Bearer {access_token}
      - name: latestTransactionOnly
        in: query
        description: Return the single most recent transaction
        schema:
          type: boolean
          default: false
      - name: sourceCategory
        in: query
        description: Filter the transaction source
        schema:
          enum:
          - vg
          - agency
      - name: propertyId
        in: path
        description: Unique identifier for a property</br>Refer to [Obtaining a propertyId](https://developer.proptrack.com.au/docs/apis/guide#obtaining-a-propertyid)
        required: true
        schema:
          type: string
          examples:
          - '123456789'
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    propertyId: 123456789
                    transactions:
                    - sourceCategory: agency
                      transactionDate: '2020-09-23'
                      transferType: partial
                      saleValue: 580000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 5
                        agencyName:
                        - Bob's Real Estate
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: vg
                      contractDate: '2020-09-11'
                      transactionDate: '2020-09-14'
                      transferDate: '2020-09-15'
                      transferType: partial
                      saleValue: 390000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 6
                        agencyName:
                        - Bob's Real Estate
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: vg
                      contractDate: '2020-09-03'
                      transactionDate: '2020-09-03'
                      transferDate: '2020-09-05'
                      transferType: full
                      saleValue: 330000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 8
                        agencyName:
                        - Bob's Real Estate
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: agency
                      transactionDate: '2020-09-01'
                      transferType: partial
                      saleValue: 560000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 3
                        agencyName:
                        - Bob's Real Estate
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                properties:
                  propertyId:
                    type: integer
                    description: Unique identifier for a property
                    examples:
                    - 123456789
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        sourceCategory:
                          enum:
                          - vg
                          - agency
                          - other
                          description: Source of transaction event data
                          examples:
                          - vg
                          type: string
                        transactionDate:
                          type: string
                          description: Date associated with the transaction event</br>Format `YYYY-MM-DD`
                          format: date
                          examples:
                          - '2023-01-27'
                        contractDate:
                          type: string
                          description: Date on which the contract for the transaction was signed</br>Format `YYYY-MM-DD`
                          format: date
                          examples:
                          - '2023-01-25'
                        transferDate:
                          type: string
                          description: Date on which ownership is transferred</br>Format `YYYY-MM-DD`
                          format: date
                          examples:
                          - '2023-01-25'
                        transferType:
                          enum:
                          - full
                          - multi
                          - partial
                          - nil
                          - other
                          description: Type of transfer</br>Refer to [Transfer Types](https://developer.proptrack.com.au/docs/apis/guide#transfer-types)
                          examples:
                          - full
                          type: string
                        saleValue:
                          type: integer
                          description: 'Price associated with the transaction event</br>

                            If `"saleValueSuppressed": true`, then this field will return as `undefined`'
                          examples:
                          - 1350000
                        saleValueSuppressed:
                          type: boolean
                          x-stoplight:
                            id: 0zx8itumihsdg
                          description: Flags if the saleValue has been suppressed
                        listingDetails:
                          type: object
                          properties:
                            listingId:
                              type: string
                              description: Unique identifier for a listing
                              examples:
                              - '123456789'
                            daysOnMarket:
                              type: integer
                              description: Number of days the listing was advertised before resulting in a  transaction
                              examples:
                              - 24
                            agencyName:
                              type: array
                              description: Name of the responsible agency
                              items:
                                type: string
                                examples:
                                - '"Bob''s Real Estate","Jenny''s Real Estate"'
                            agentName:
                              type: array
                              description: Name of the responsible agent/s
                              items:
                                type: string
                                examples:
                                - '"Bob Smith","Jenny Smith"'
                      required:
                      - transactionDate
                required:
                - propertyId
              examples:
                Property with 4 transactions:
                  value:
                    propertyId: 123456789
                    transactions:
                    - sourceCategory: agency
                      transactionDate: '2020-09-23'
                      saleValue: 580000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 5
                        agencyName:
                        - Bob's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: vg
                      contractDate: '2020-09-11'
                      transactionDate: '2020-09-14'
                      transferDate: '2020-09-15'
                      transferType: partial
                      saleValue: 390000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 6
                        agencyName:
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: vg
                      contractDate: '2020-09-03'
                      transactionDate: '2020-09-03'
                      transferDate: '2020-09-05'
                      transferType: full
                      saleValue: 330000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 8
                        agencyName:
                        - Bob's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: agency
                      transactionDate: '2020-09-01'
                      saleValue: 560000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 3
                        agencyName:
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                sourceCategory=vg:
                  value:
                    propertyId: 123456789
                    transactions:
                    - sourceCategory: vg
                      contractDate: '2020-09-11'
                      transactionDate: '2020-09-14'
                      transferDate: '2020-09-15'
                      transferType: partial
                      saleValue: 390000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 6
                        agencyName:
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: vg
                      contractDate: '2020-09-03'
                      transactionDate: '2020-09-03'
                      transferDate: '2020-09-05'
                      transferType: full
                      saleValue: 330000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 8
                        agencyName:
                        - Bob's Real Estate
                        - Jenny's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                sourceCategory=agency:
                  value:
                    propertyId: 123456789
                    transactions:
                    - sourceCategory: agency
                      transactionDate: '2020-09-23'
                      saleValue: 580000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 5
                        agencyName:
                        - Bob's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                    - sourceCategory: agency
                      transactionDate: '2020-09-01'
                      saleValue: 560000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 3
                        agencyName:
                        - Bob's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                latestTransactionOnly=true:
                  value:
                    propertyId: 123456789
                    transactions:
                    - sourceCategory: agency
                      transactionDate: '2020-09-23'
                      saleValue: 580000
                      listingDetails:
                        listingId: '123456789'
                        daysOnMarket: 5
                        agencyName:
                        - Bob's Real Estate
                        agentName:
                        - Bob Smith
                        - Jenny Smith
                Property with no transaction events:
                  value:
                    propertyId: 123456789
                    transactions: []
          headers:
            Content-Type:
              schema:
                enum:
                - application/json
                type: string
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 0
                      level: string
                      description: string
                      parameters:
                        propertyId: string
                        sourceCategory: string
                        latestTransactionOnly: string
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7004
                          - 7007
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - An incorrect field type has been included - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              examples:
                              - must be an integer
                            sourceCategory:
                              type: string
                              examples:
                              - must only include an allowed value
                            latestTransactionOnly:
                              type: string
                              examples:
                              - must be boolean
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9003
                      description: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Unknown id, the included value does not match a record within our system - Please ensure that the correct value is added to this field
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9012
                      level: CRITICAL
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#propertiestransactions) for information on error handling.'
      servers:
      - url: https://data.proptrack.com
