openapi: 3.2.0
info:
  version: '1.0'
  title: Properties Tenure Type API
  description: 'Properties API


    - **Properties/Summary: **GET** /api/v2/properties/{propertyId}/summary**

    Retrieves basic property and listing information about a property, including a single photo and current market status


    - **Properties/Attributes: **GET** /api/v2/properties/{propertyId}/attributes**

    Retrieves comprehensive and up to date property attributes and features for a given property


    - **Properties/Listings: **GET** /api/v2/properties/{propertyId}/listings**

    Retrieves current and historic listings…'
  contact:
    email: support@proptrack.com
    name: PropTrack Support
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Tenure Type
  description: Property Tenure Type History
paths:
  /api/v2/properties/{propertyId}/tenureType:
    parameters:
    - schema:
        type: integer
      name: propertyId
      in: path
      required: true
      description: Unique identifier for a property<br>Refer to [Obtaining a propertyId](https://developer.proptrack.com.au/docs/apis/guide#obtaining-a-propertyid)
      example: 8282053
    get:
      summary: /api/v2/properties/{propertyId}/tenureType
      parameters:
      - schema:
          type: string
          example: Bearer xxxxx
        in: header
        name: Authorization
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  propertyId:
                    type: integer
                    x-stoplight:
                      id: m9gokv4hbaod4
                  tenureTypeHistory:
                    type: array
                    x-stoplight:
                      id: 3kjl0kfcd6ble
                    items:
                      x-stoplight:
                        id: hpfdg745f29ud
                      type: object
                      properties:
                        startDate:
                          type:
                          - string
                          - 'null'
                          x-stoplight:
                            id: 4y9lj709ivubu
                          example: '2015-01-01'
                          format: date
                        endDate:
                          type:
                          - string
                          - 'null'
                          x-stoplight:
                            id: u36wi1ueyd8rq
                          format: date
                          example: '2024-12-31'
                        tenureType:
                          x-stoplight:
                            id: r4vh3ehph7rtg
                          enum:
                          - ownerOccupied
                          - renterOccupied
                          example: ownerOccupied
              examples:
                Single tenure type:
                  value:
                    propertyId: 8282053
                    tenureTypeHistory:
                    - startDate: '2015-01-01'
                      endDate: null
                      tenureType: ownerOccupied
                Tenure History:
                  value:
                    propertyId: 0
                    tenureTypeHistory:
                    - startDate: '2015-01-01'
                      endDate: '2025-01-01'
                      tenureType: ownerOccupied
                    - startDate: '2025-01-01'
                      endDate: null
                      tenureType: renterOccupied
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: a7pv1wt41f4w0
                    items:
                      x-stoplight:
                        id: lqm2qv8uegzjf
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: lnnljss9nc93d
                          enum:
                          - 7004
                          - 7008
                          - 7011
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: xr0hrivyq13vy
                          description: Overview of the error that has occurred
                          example: An incorrect field type has been entered - Please ensure that all values are using the correct field type
                        parameters:
                          type: object
                          x-stoplight:
                            id: 6vrvs2iwa0k7v
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: om8f7maax6knd
                              example: must be an integer
                      required:
                      - code
                      - description
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: ysusgtiiltdnh
                    items:
                      x-stoplight:
                        id: ciltcajyuu6i4
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: uggewv2jz4jr2
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: 06a5rvfr5140h
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: 3588squqfn4vl
                          description: Overview of the error that has occurred
                          example: Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: wd47zsexlbpuk
                    items:
                      x-stoplight:
                        id: c6kcexl4jltcg
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: o34fma7cxej4v
                          enum:
                          - 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: nvcd9p746hri3
                          description: Overview of the error that has occurred
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: sdecbxpt90s6u
                    items:
                      x-stoplight:
                        id: qgqgmwvec4dux
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: k15mcw6taaq90
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          x-stoplight:
                            id: 49bumtglgzczn
                          description: Overview of the error that has occurred
                        parameters:
                          type: object
                          x-stoplight:
                            id: lofxlczzupgr8
                          description: A set of parameters that are causing the error and the rule that was invoked
                          properties:
                            propertyId:
                              type: string
                              x-stoplight:
                                id: ztpw5af9yyrxp
                              example: cannot be found
                      required:
                      - code
                      - description
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)'
          headers:
            Content-Type:
              schema:
                type: string
                enum:
                - application/json
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    x-stoplight:
                      id: stmkmfssv1g4f
                    items:
                      x-stoplight:
                        id: vj20aoctikk3v
                      type: object
                      properties:
                        code:
                          x-stoplight:
                            id: 23irc6w5rvzf6
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                        level:
                          x-stoplight:
                            id: i0tjyywokp2ie
                          x-deprecated: true
                          enum:
                          - CRITICAL
                        description:
                          type: string
                          x-stoplight:
                            id: eivpaczt1xu83
                          description: Overview of the error that has occurred
                          example: Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)'
      operationId: get-api-v2-properties-tenure
      x-stoplight:
        id: 4xjje4lnrraq6
      description: 'This endpoint provides property tenure type history, indicating if the property is owner or renter occupied, over time.

        The Tenure Type value is an inferred value based on information available to PropTrack at a given point in time and is subject to change in response to new data


        #### Data Attribution Notice:

        This endpoint contains State and Territory data which may be subject to approval by the relevant government department.

        Due to licensing agreement requirements, it is necessary to include data disclaimers and PropTrack branding when displaying this data in a user experience or printable output.


        Disclaimer Types: `vg`,`serviceAgent`,`proptrackTenureType`


        Please refer to Disclaimers and Branding for more information on implementing data source disclaimers in your experience.'
      tags:
      - Tenure Type
