openapi: 3.2.0
info:
  version: v2
  title: Address Match API
  description: '- **Address/Match: GET /api/v2/address/match**

    Matches to a corresponding record on PropTrack''s master address file based on a given address string


    - **Address/Suggest: GET /api/v2/address/suggest**

    Suggests a list of addresses based on a given address string


    Getting Started


    Start your journey


    API Trials


    Authentication


    Error Handling


    API References


    Explore our knowledge base


    API Guide


    Rate Limiting


    Getting Support


    Useful Docs


    Helpful resources


    Pagination


    Rules Engine


    FAQs


    Get…'
  termsOfService: https://developer.proptrack.com.au/docs/apis/terms-of-use
  contact:
    name: PropTrack
    url: https://www.proptrack.com.au/contact-us
    email: https://www.proptrack.com.au/contact-us
servers:
- url: https://data.proptrack.com
  description: ''
tags:
- name: Match
paths:
  /api/v2/address/match:
    get:
      tags:
      - Match
      summary: /api/v2/address/match
      description: 'Matches to a corresponding record on PropTrack''s master address file based on a given address string.


        Refer to the API Guide for best practices for input address formatting.'
      operationId: address.match
      parameters:
      - name: Authorization
        in: header
        description: Provide your bearer token as a string, in the format `Bearer {access_token}` in the Authorization Header</br>Refer to [Authentication](https://developer.proptrack.com.au/docs/apis/authentication/operations/create-a-oauth-2-token)
        required: true
        schema:
          type: string
          examples:
          - Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
          default: Bearer {access_token}
          example: Bearer jyJraWQiOiJiYWRmKzUyNC1jYzBkLTQ9YWUtYTAzMC02MjBlYTE3ZDNlZjMiLCJ0eXAiO
      - name: q
        in: query
        description: Address on which to search
        required: true
        schema:
          type: string
          examples:
          - 123A Smith Street Sydney NSW 2000
      responses:
        '200':
          description: '<!-- theme: success -->


            > #### Success (200)

            '
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    propertyId: '123456'
                    gpid: GANSW1234
                    address:
                      addressIdentifier: 123A/123 Smith Street Sydney NSW 1234
                properties:
                  propertyId:
                    type: string
                    description: Unique identifier for a property
                    examples:
                    - '123456'
                  gpid:
                    type: string
                    description: Geoscape issued unique identifer
                    examples:
                    - GANSW1234
                  matchScore:
                    enum:
                    - EXCELLENT
                    - GOOD
                    - OK
                    - POOR
                    description: Defines the quality of the match returned</br>Refer to [Match Quality](https://developer.proptrack.com.au/docs/apis/guide#match-quality)
                    type: string
                    x-stoplight:
                      id: 1b2q9cygd9erf
                  address:
                    type: object
                    properties:
                      fullAddress:
                        type: string
                        description: Full address of the matched property
                        examples:
                        - 123A/123 Smith Street Sydney NSW 1234
                        example: LOT 1,UNIT 1,2-6 LOUISA ROAD,BIRCHGROVE NSW 2041
                      lotNumber:
                        type:
                        - string
                        - 'null'
                        x-stoplight:
                          id: pymnxtikzkbua
                        example: '1'
                        description: Lot number of the matched property
                      unitNumber:
                        type:
                        - string
                        - 'null'
                        x-stoplight:
                          id: kgrs2jb1lq4cx
                        example: '1'
                        description: Unit number of the matched property
                      streetNumber:
                        type: string
                        x-stoplight:
                          id: vanyby1exss91
                        example: 2-6
                        description: Street number of the matched property
                      streetName:
                        type: string
                        x-stoplight:
                          id: 84orxvfoykgxm
                        example: LOUISA
                        description: Street name of the matched property
                      streetType:
                        type: string
                        x-stoplight:
                          id: x4ndwcma3f8mz
                        example: ROAD
                        description: Street type of the matched property
                      suburb:
                        type: string
                        x-stoplight:
                          id: sj6i762vc7cao
                        example: BIRCHGROVE
                        description: Suburb name of the matched property
                      state:
                        type: string
                        x-stoplight:
                          id: 0x37l2p398s6e
                        example: NSW
                        description: State name (abbreviated) of the matched property
                      postcode:
                        type: string
                        x-stoplight:
                          id: l9zq1qsuny2qa
                        example: '2041'
                        description: The postal area code of the matched property
              examples:
                Example 1:
                  value:
                    propertyId: '123456'
                    gpid: GANSW1234
                    matchScore: EXCELLENT
                    address:
                      fullAddress: LOT 1,UNIT 1,2-6 LOUISA ROAD,BIRCHGROVE NSW 2041
                      lotNumber: '1'
                      unitNumber: '1'
                      streetNumber: 2-6
                      streetName: LOUISA
                      streetType: ROAD
                      suburb: BIRCHGROVE
                      state: NSW
                      postcode: '2041'
          headers:
            Content-Type:
              schema:
                enum:
                - application/json
                type: string
              description: Media type of the resource
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '400':
          description: '<!-- theme: danger -->


            > #### Bad Request (400)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 7004
                      level: CRITICAL
                      description: Required parameter is missing - Please ensure that all required parameters are included in the request
                      parameters:
                        q: The address parameter must be present in the request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                          - 7004
                          description: Defines the type of error that has occurred
                        level:
                          type: string
                          deprecated: true
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          example: Required parameter is missing - Please ensure that all required parameters are included in the request
                        parameters:
                          type: object
                          description: Lists the parameter/s which is causing the error, and the rule that was invoked
                          properties:
                            q:
                              type: string
                              example: The address parameter must be present in the request
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '401':
          description: '<!-- theme: danger -->


            > #### Unauthorized (401)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                    - code: 9012
                      description: Authentication token validation has failed - Please ensure that a valid Token Authentication Request has been completed before trying again
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9012
                          - 9016
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Authentication token validation has failed - Please ensure that a valid token authentication request has been completed before trying again
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '403':
          description: '<!-- theme: danger -->


            > #### Forbidden (403)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    errors:
                    - code: 9003
                      description: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                          - 9003
                          example: 9003
                          description: Defines the type of error that has occurred
                        description:
                          type: string
                          example: Access denied - Please contact our customer support team at support@proptrack.com for access to this endpoint
                          description: Overview of the error that has occurred
                      required:
                      - code
                      - description
        '404':
          description: '<!-- theme: danger -->


            > #### Not Found (404)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                    - code: 7002
                      description: Address cannot be matched, the address entered does not match a record within our system - Please consider revising the address query parameter
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 7002
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Address cannot be matched, the address entered does not match a record within our system - Please consider revising the address query parameter
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '429':
          description: '<!-- theme: danger -->


            > #### Too Many Requests (429)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                    - code: 9011
                      description: Rate limit has been exceeded - Please try again shortly
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - 9011
                          description: Defines the type of error that has occurred
                          type: integer
                        level:
                          enum:
                          - CRITICAL
                          description: 'Defines the severity of the error</br>Note: If level is `CRITICAL` then a successful response will not be returned'
                          x-deprecated: true
                          type: string
                        description:
                          type: string
                          description: Overview of the error that has occurred
                          examples:
                          - Rate limit has been exceeded - Please try again shortly
                      required:
                      - code
                      - description
          headers:
            X-Transaction-Id:
              schema:
                type: string
                example: bxxe12cb-a6a8-4cad-9a8c-4f1d8abfa0d9
              description: Should be quoted as a reference for any support request/unexpected error
        '500':
          description: '<!-- theme: danger -->


            > #### Internal Server Error (500)


            Refer to [Status Codes & Error Handling](https://developer.proptrack.com.au/docs/apis/error-handling#addressmatch) for information on error handling.'
      servers:
      - url: https://data.proptrack.com
